// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  width: 100px;
  border: 5px solid #99f;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.social-btn:hover a {
  text-decoration: none;
}

.remember-checkbox {
  margin-left: 10px;
}
