<div>
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Create a New Room!</h3>
  </div>
  <div class="modal-body" id="modal-body">
      <p>
        <form ng-submit="$ctrl.newRoom()">
          <p>Enter new room name</p>
    <input ng-model="$ctrl.newRoomText" class="roomInput" type="text"><br><br>
    <button class="roomButton" type="button" ng-click="$close()">Cancel</button>
    <input class="roomButton" type="submit" value="Add Room">
  </form>
</p>
  </div>
  <div class="modal-footer">
  </div>
</div>
